{% extends "base.html" %}

{% block content %}

{% load tz %}

{% load static %}

<head>
	<title>Post</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,500i,700,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,900" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'css/gallery.css' %}">

	<style>
		.like-container {
			display: flex;
			align-items: center;
		}
	</style>

	<style>
	  /* Style the links for hashtags */
	  #post-description a {
		color: blue;
		text-decoration: none;
	  }

	</style>

</head>


<body>

<div class="container">

<div class="title" style="text-align: center">
  <h1>Post</h1>
</div>

<hr>
	<div class="row">

		{% if post %}
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

			  <div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
			  </div>

			  <div class="carousel-inner">
                {% for image in post.images %}
                  <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="{{ image.image }}" class="d-block w-100" alt="...">
                  </div>
                {% endfor %}
              </div>
              {% if post.images|length > 1 %}
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </a>
              {% endif %}
            </div>
          {% endif %}

		<div class="description" style="font-size: 18px;">

			<p id="post-description">{{ post.description }}</p>

			<div style="font-size: 14px;">
				<p>Created at: {{ data }}</p>
			</div>

			<div class="like-container">
			  <form action="" method="POST">
				{% csrf_token %}

				{% if post_liked %}
				<button style="border:none; background:none;">
				  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
				  </svg>
				</button>
				{% else %}
				<button style="border:none; background:none;">
				  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
					<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
				  </svg>
				</button>
				{% endif %}

			  </form>

			  <p class="num-of-likes" style="margin-left: 5px;">{{ num_likes }}</p>
			</div>

			{% if request.user.username == user.username %}
			<div class="d-flex justify-content-center my-3">
				<button type="button" class="btn btn-secondary" id="edit-button" style="width: 40%;">Edit post</button>
			</div>
			<form id="edit-form" style="display: none;">
				{% csrf_token %}
				<textarea name="description">{{ post.description }}</textarea>
				<button type="submit">Save</button>
			</form>
			{% endif %}
		</div>

		<div class="d-flex justify-content-center my-3">
		  <form action="{% url 'user_posts' post.user %}">
			<button type="submit" class="btn btn-primary me-5">Back to posts</button>
		  </form>

		  {% if request.user.username == user.username %}
		  <form id="delete-post-form" method="POST" action="{% url 'user_post_details' post.user post.post_id %}">
			{% csrf_token %}
			<input type="hidden" name="_method" value="DELETE">
			<button type="submit" class="btn btn-danger ms-5" style="width: 100%; margin-left: 20px;">Delete post</button>
		  </form>
		  {% endif %}
		</div>

		<script>
			function showConfirm() {
			  if (confirm("Are you sure you want to delete this post?")) {
				// If user clicks "OK" button
				window.location.href = "{{ post.get_delete_url }}";
			  } else {
				// If user clicks "Cancel" button
				return false;
			  }
			}
		</script>

		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script>
		  $(document).ready(function() {
			$('#delete-post-form').submit(function(event) {
			  event.preventDefault();
			  if (confirm("Are you sure you want to delete this post?")) {
				$.ajax({
				  url: $(this).attr('action'),
				  method: 'DELETE',
				  headers: {'X-CSRFToken': '{{ csrf_token }}'},
				  success: function() {
					// Redirect to the post list page after deleting the post
					window.location.href = "{% url 'user_posts' post.user %}";
				  }
				});
			  }
			});
		  });
		</script>

		<script>
			$(document).ready(function() {
				$('#edit-button').click(function() {
					$('.description p').hide();
					$('#edit-form').show();
				});

				$('#edit-form').submit(function(event) {
					event.preventDefault();
					$.ajax({
						url: $(this).attr('action'),
						method: 'PATCH',
						data: JSON.stringify({
							csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
							description: $('#edit-form textarea[name=description]').val()
						}),
						contentType: 'application/json',
						success: function() {
							// Reload the page after saving the edited description
							location.reload();
						}
					});
				});
			});

		</script>

		<script>
		  // Get the post description element
		  var descriptionElem = document.getElementById("post-description");

		  // Get the text content of the post description element
		  var description = descriptionElem.textContent;

		  // Create a new HTML string with hashtags replaced by links
		  var html = description.replace(/#\w+/g, function(match) {
			var hashtag = match.substr(1);
			return '<a href="' + window.location.origin + '/posts/tags/' + hashtag + '">' + match + '</a>';
		  });

		  // Set the innerHTML of the post description element to the new HTML string
		  descriptionElem.innerHTML = html;
		</script>

	</div>
</div>

</body>


{% endblock %}