{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if messages %}
<div class="alert alert-info">
  <ul style="list-style:none;">
    {% for message in messages %}
    <li>{{ message | striptags }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

	<div class="container pt-3 pb-5" style="width: 50%">
  	 	<h2>Reset Password</h2><hr>
		<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit" style="margin-top: 10px;">Send email</button>
        </form>
  	</div>
{% endblock %}